<ion-header transparent="true" class="ion-no-border">
  <ion-toolbar>
    <div class="title">
      <span id="following">Following</span>
      <span>|</span>
      <span id="forYou">For You</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen overflow-scroll="false" no-bounce>
  <!-- User Instance -->
      <!-- Content -->
      <div class="tiktok">
        <video autoplay muted loop #playerVideo preload="auto">
          <source src="../../../assets/videos/pexels.mp4" type="video/mp4" />
        </video>
      </div>
      <!-- Footer Content -->
      <div class="footer">
        <p id="username">@karenne 1-28</p>
        <p id="hashtag">#avicii #wflove</p>
        <div class="song">
          <ion-icon name="musical-notes-outline"></ion-icon>
          <marquee width="50%" direction="left" scrollamount="3">
            Avicii - Waiting for love (ft. Martin Garrix)
          </marquee>
        </div>
      </div>

  <!-- Progress of the video -->
  <ion-progress-bar value="0.5"></ion-progress-bar>
  <!-- FAB Buttons -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <div class="stats">
      <ion-icon name="heart"></ion-icon>
      <p>4445</p>
    </div>
    <div class="stats">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      <p>64</p>
    </div>
    <div class="stats">
      <ion-icon name="arrow-redo"></ion-icon>
      <p>Share</p>
    </div>
    <ion-fab-button class="musicIcon" color='light'>
      <ion-icon name="musical-notes"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-bottom-drawer [(state)]="drawerState" [minimumHeight]="minimumHeight" [dockedHeight]="dockedHeight"
  [shouldBounce]="shouldBounce" [distanceTop]="distanceTop">
  <div class="drawer-content">
    Bottom Drawer Content
  </div>
</ion-bottom-drawer>